[submodule "build/libs"]
	path = libs/ColorConsole
	url = https://github.com/Iprime111/ColorConsole.git
[submodule "libs/CustomAssert"]
	path = libs/CustomAssert
	url = https://github.com/Iprime111/CustomAssert.git
[submodule "libs/Buffer"]
	path = libs/Buffer
	url = https://github.com/Iprime111/Buffer.git
